In [2]:
import pandas as pd
import numpy as np
from chord import Chord
import random

In [4]:
dishes = pd.read_csv('Data/dish_components.csv',error_bad_lines=False)

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (30,31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
numdish = len(dishes)

In [18]:
dishes = dishes.T
dishes = dishes.dropna(how='all')

In [2]:
compounds = pd.read_csv('Data/shared_compounds.csv')

In [3]:
combinatrix = compounds.groupby(['First Ingredient','Second Ingredient']).sum()

# Random dish to flavor Chord chart

In [46]:
rand_dish = int(np.random.randint(numdish, size=1))

In [47]:
recipe = dishes[rand_dish]
recipe = recipe.dropna()
recipe = recipe[1:][0:]
compon = [ing for ing in recipe]
recipe

Ingredient 1            butter
Ingredient 2             wheat
Ingredient 3          mushroom
Ingredient 4             yeast
Ingredient 5         asparagus
Ingredient 6    cheddar_cheese
Ingredient 7               egg
Name: 44934, dtype: object

In [48]:
components = []

for i in range(0,len(compon)):
    for j in range(0,len(compon)):
        try: 
            components.append(int(combinatrix.loc[compon[i], compon[j]]))
        except KeyError:
            components.append(0)

In [49]:
# Make list into array
fromechovus = np.array(components).reshape((len(recipe),len(recipe)))

# Creates DataFrame and Matrix as a list.
cereals = pd.DataFrame(fromechovus, index=compon, columns=compon)

hops = cereals.values.tolist()

In [50]:
# Random recipe Chord chart
Chord(hops, compon).to_html('Dish' + str(rand_dish)+ '.html')

In [51]:
cereals

                butter  wheat  mushroom  yeast  asparagus  cheddar_cheese  egg
butter               0      1        51      0          0              71   28
wheat                0      0         0      0          0               0    0
mushroom             0      1         0      0          0               0    0
yeast                0      0         0      0          0               0    0
asparagus           30      3        25      0          0              28   14
cheddar_cheese       0      4        57      0          0               0   32
egg                  0      0        24      0          0               0    0

In [43]:
compon

['butter', 'chicken_broth', 'parmesan_cheese', 'cauliflower', 'bread']

# Novel flavor combination generation

In [3]:
recs = pd.read_csv("Recipe_Components_Dense.csv")

In [4]:
shares = pd.read_csv("Shared_Compounds_Dense.csv")

In [5]:
def flavor_generator(first_flavor, num_flavors, flavor_space):
    flavors = []
    flavors.append(first_flavor)
    n = num_flavors - 1
    current_flavor = first_flavor
    for i in range(0, n):
        new_flavor_index = random.choices(flavor_space.index,
                                          weights=flavor_space[current_flavor], k=1)
        new_flavor = flavor_space.iloc[new_flavor_index[0]][0]
        flavors.append(new_flavor)
        current_flavor = new_flavor
    return flavors

In [6]:
def flavor_df(flavors):
    components = []

    for i in range(0,len(flavors)):
        for j in range(0,len(flavors)):
            try: 
                components.append(int(combinatrix.loc[flavors[i], flavors[j]]))
            except KeyError:
                components.append(0)
                
    flav_ar = np.array(components).reshape((len(flavors),len(flavors)))
    flav_df = pd.DataFrame(flav_ar, index=flavors, columns=flavors)
    flav_df = flav_df + flav_df.T
    
    return flav_df

In [32]:
flavor_generator('lovage',7,recs)

['lovage', 'mustard', 'egg', 'carrot', 'soybean', 'barley', 'soy_sauce']

In [7]:
flavor_generator('coriander',7,shares)

['coriander',
 'black_tea',
 'fermented_tea',
 'carob_fruit',
 'litchi',
 'smoked_fatty_fish',
 'goat_cheese']

In [12]:
flavor_6 = flavor_generator('cherimoya',6,shares)
flavor_7 = flavor_generator('lovage',7,shares)
flavor_8 = flavor_generator('huckleberry',7,shares)

In [19]:
flavor_df(flavor_6)

,cherimoya,cabernet_sauvignon_grape,ruta_chalepensis_oil,grape,brown_rice,rum
cherimoya,0,20,1,20,10,17
cabernet_sauvignon_grape,20,0,1,125,34,62
ruta_chalepensis_oil,1,1,0,1,1,1
grape,20,125,1,0,34,62
brown_rice,10,34,1,34,0,43
rum,17,62,1,62,43,0

In [20]:
flavor_df(flavor_7)

             lovage  red_bean  strawberry  seal  corn  pear_brandy  raw_beef
lovage            0        12          21     8    11            1        12
red_bean         12         0          45    23    33            3        53
strawberry       21        45           0    25    40            4        62
seal              8        23          25     0    26            1        44
corn             11        33          40    26     0            4        51
pear_brandy       1         3           4     1     4            0         4
raw_beef         12        53          62    44    51            4         0

In [21]:
flavor_df(flavor_8)

,huckleberry,chicken,seychelles_tea,blackberry,horse_mackerel,matsutake,raw_fatty_fish
huckleberry,0,23,35,52,17,21,19
chicken,23,0,62,34,38,55,45
seychelles_tea,35,62,0,61,36,57,46
blackberry,52,34,61,0,21,34,25
horse_mackerel,17,38,36,21,0,31,64
matsutake,21,55,57,34,31,0,38
raw_fatty_fish,19,45,46,25,64,38,0

In [22]:
lister = flavor_df(flavor_7).values.tolist()

In [23]:
lister

[[0, 12, 21, 8, 11, 1, 12],
 [12, 0, 45, 23, 33, 3, 53],
 [21, 45, 0, 25, 40, 4, 62],
 [8, 23, 25, 0, 26, 1, 44],
 [11, 33, 40, 26, 0, 4, 51],
 [1, 3, 4, 1, 4, 0, 4],
 [12, 53, 62, 44, 51, 4, 0]]

In [24]:
#Chord(lister, flavor_7).to_html('lovage_7.html')

In [8]:
import random
random.choices(recs.index, 
               weights=recs.garlic, k=1)

[294]

In [69]:
i = random.choices(recs.index, 
               weights=recs.garlic, k=1)
recs.iloc[i[0]][0]

'tarragon'

In [61]:
recs.iloc[134][0]

'beef'

In [40]:
recs.iloc[939]

Unnamed: 0                         onion
abies_alba                             0
abies_alba_pine_needle                 0
abies_balsamea_oil                     0
abies_canadensis                       0
                                   ...
zanthoxylum_piperitum_fruit_oil        0
zanthoxylum_rhetsa                     0
zanthoxylum_rhetsa_oil                 0
zingiberaceae                          0
zucchini                             622
Name: 939, Length: 1508, dtype: object

In [ ]:
components = []

for i in range(0,len(compon)):
    for j in range(0,len(compon)):
        try: 
            components.append(int(combinatrix.loc[compon[i], compon[j]]))
        except KeyError:
            components.append(0)